@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <div style="position: fixed; top: 45%; right: 25%; transform: translateY(-50%); z-index: 1000; text-align: center;">
    <h2 style="margin-bottom: 10px; font-size: 1.5rem; font-weight: bold;">Your #1 Source for AI Generated XX Content!</h2>
    <img src="~/default/login-image.png" alt="Login Image" class="img-fluid" style="max-height: 550px; width: auto; border-radius: 15px;" />
</div>
 *@